database/n8n/notion_to_supabase.json
{
  "meta": {
    "description": "Workflow N8N: Notion Tarefas S&D -> Supabase (notion_tasks). Configure o trigger, o node Notion com suas credenciais, e as variaveis SUPABASE_URL e SUPABASE_KEY no HTTP Request."
  },
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      }
    },
    {
      "name": "Notion - Get All Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [220, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "208c3598-383a-8149-b401-dc7bd9224b5a",
          "mode": "id"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "Ln8Z1P4xF2YhlSUt",
          "name": "Notion GOWORK"
        }
      }
    },
    {
      "name": "Transformar para Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const page = item.json;\n  const props = page.properties || {};\n\n  const titleProp = props['Nome da tarefa'];\n  const title = titleProp?.title?.[0]?.plain_text || '';\n\n  const status = props['Status']?.select?.name || '';\n  const priority = props['Prioridade']?.select?.name || '';\n\n  const descProp = props['Descrição'] || props['Descricao'];\n  const description = descProp?.rich_text?.[0]?.plain_text || '';\n\n  const executorProp = props['Executor'] || props['Executores'];\n  const executor = (executorProp?.people || []).map(p => p.name).filter(Boolean).join(', ');\n\n  const requesterProp = props['Solicitante'];\n  const requester = (requesterProp?.people || []).map(p => p.name).filter(Boolean).join(', ');\n\n  const deptProp = props['Departamento'];\n  let department = '';\n  if (deptProp?.select) {\n    department = deptProp.select.name || '';\n  } else if (deptProp?.multi_select) {\n    department = deptProp.multi_select.map(s => s.name).join(', ');\n  }\n\n  const createdByProp = props['Criado por'];\n  const created_by = createdByProp?.created_by?.name || '';\n\n  const dataProp = props['Data'];\n  const date_start = dataProp?.date?.start || null;\n  const date_end = dataProp?.date?.end || null;\n\n  const notionId = (page.id || '').replace(/-/g, '');\n  const notion_url = notionId ? `https://www.notion.so/${notionId}` : null;\n\n  results.push({\n    json: {\n      notion_id: page.id || '',\n      title,\n      status,\n      priority,\n      description,\n      executor,\n      requester,\n      department,\n      created_by,\n      date_start,\n      date_end,\n      notion_url,\n      created_at: page.created_time || null,\n      updated_at: page.last_edited_time || null,\n      _extracted_at: new Date().toISOString(),\n      _source_system: 'Notion'\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "name": "Agrupar em batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batch = items.map(i => i.json);\nreturn [{ json: { batch } }];"
      }
    },
    {
      "name": "Supabase Upsert (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "parameters": {
        "method": "POST",
        "url": "https://xggqzueehfvautkmaojy.supabase.co/rest/v1/notion_tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZ3F6dWVlaGZ2YXV0a21hb2p5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE5ODI0NSwiZXhwIjoyMDg0Nzc0MjQ1fQ.VfB3yazurvRfPNyfRZK3vYijUu3pPUebixpwAsni-ho" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZ3F6dWVlaGZ2YXV0a21hb2p5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE5ODI0NSwiZXhwIjoyMDg0Nzc0MjQ1fQ.VfB3yazurvRfPNyfRZK3vYijUu3pPUebixpwAsni-ho" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Notion - Get All Tasks", "type": "main", "index": 0 }]]
    },
    "Notion - Get All Tasks": {
      "main": [[{ "node": "Transformar para Supabase", "type": "main", "index": 0 }]]
    },
    "Transformar para Supabase": {
      "main": [[{ "node": "Agrupar em batch", "type": "main", "index": 0 }]]
    },
    "Agrupar em batch": {
      "main": [[{ "node": "Supabase Upsert (HTTP)", "type": "main", "index": 0 }]]
    }
  }
}
