database/n8n/notion.json
{
    "nodes": [
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// Garante um unico registro por notion_id no lote.\nconst porNotionId = new Map();\nfor (const item of items) {\n  const row = item.json || {};\n  const notionId = row.notion_id || '';\n  if (!notionId) continue;\n  porNotionId.set(notionId, row);\n}\n\nconst batch = Array.from(porNotionId.values());\nreturn [{ json: { batch } }];"
        },
        "name": "Agrupar em batch",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          592
        ],
        "id": "17f5a3fa-2b7d-450a-969c-479006b891f7"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://xggqzueehfvautkmaojy.supabase.co/rest/v1/notion_tasks?on_conflict=notion_id",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZ3F6dWVlaGZ2YXV0a21hb2p5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE5ODI0NSwiZXhwIjoyMDg0Nzc0MjQ1fQ.VfB3yazurvRfPNyfRZK3vYijUu3pPUebixpwAsni-ho"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZ3F6dWVlaGZ2YXV0a21hb2p5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE5ODI0NSwiZXhwIjoyMDg0Nzc0MjQ1fQ.VfB3yazurvRfPNyfRZK3vYijUu3pPUebixpwAsni-ho"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.batch) }}",
          "options": {}
        },
        "name": "Supabase Upsert (HTTP)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          592
        ],
        "id": "c0b267ba-5ea9-46fe-9096-5de1a6058c97"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "name": "Schedule Trigger1",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          1104,
          752
        ],
        "id": "d43b6de3-8ee5-4368-96e6-306ef57bd59e"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "208c3598-383a-8149-b401-dc7bd9224b5a",
            "mode": "id"
          },
          "returnAll": true,
          "simple": false,
          "options": {}
        },
        "name": "Notion - Get All Tasks1",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1392,
          592
        ],
        "id": "e6e72801-7230-4f11-a28c-e2e31058ef44",
        "credentials": {
          "notionApi": {
            "id": "Ln8Z1P4xF2YhlSUt",
            "name": "Notion GOWORK"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const page = item.json;\n  const props = page.properties || {};\n\n  const titleProp = props['Nome da tarefa'];\n  const title = titleProp?.title?.[0]?.plain_text || '';\n\n  const status = props['Status']?.select?.name || '';\n  const priority = props['Prioridade']?.select?.name || '';\n\n  const descProp = props['Descrição'] || props['Descricao'];\n  const description = descProp?.rich_text?.[0]?.plain_text || '';\n\n  const executorProp = props['Executor'] || props['Executores'];\n  const executor = (executorProp?.people || []).map(p => p.name).filter(Boolean).join(', ');\n\n  const requesterProp = props['Solicitante'];\n  const requester = (requesterProp?.people || []).map(p => p.name).filter(Boolean).join(', ');\n\n  const deptProp = props['Departamento'];\n  let department = '';\n  if (deptProp?.select) {\n    department = deptProp.select.name || '';\n  } else if (deptProp?.multi_select) {\n    department = deptProp.multi_select.map(s => s.name).join(', ');\n  }\n\n  const createdByProp = props['Criado por'];\n  const created_by = createdByProp?.created_by?.name || '';\n\n  const dataProp = props['Data'];\n  const date_start = dataProp?.date?.start || null;\n  const date_end = dataProp?.date?.end || null;\n\n  const notionId = (page.id || '').replace(/-/g, '');\n  const notion_url = notionId ? `https://www.notion.so/${notionId}` : null;\n\n  results.push({\n    json: {\n      notion_id: page.id || '',\n      title,\n      status,\n      priority,\n      description,\n      executor,\n      requester,\n      department,\n      created_by,\n      date_start,\n      date_end,\n      notion_url,\n      created_at: page.created_time || null,\n      updated_at: page.last_edited_time || null,\n      _extracted_at: new Date().toISOString(),\n      _source_system: 'Notion'\n    }\n  });\n}\n\nreturn results;"
        },
        "name": "Transformar para Supabase1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1616,
          592
        ],
        "id": "9ed3ffe1-bb7f-4113-8b60-a1d7fe9fc740"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1104,
          592
        ],
        "id": "8ea0e1de-8fb0-4cbc-8e28-db69df451fc3",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "atualizar-bd-notion",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1104,
          432
        ],
        "id": "f666da1a-3eb0-42ca-bd02-8306b396a8b6",
        "name": "Webhook",
        "webhookId": "f82f05c5-7edb-4c2a-aaea-59f215417cfd"
      }
    ],
    "connections": {
      "Agrupar em batch": {
        "main": [
          [
            {
              "node": "Supabase Upsert (HTTP)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "Notion - Get All Tasks1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Get All Tasks1": {
        "main": [
          [
            {
              "node": "Transformar para Supabase1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transformar para Supabase1": {
        "main": [
          [
            {
              "node": "Agrupar em batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Notion - Get All Tasks1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Notion - Get All Tasks1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "17be6445c9e23b9dd57a36ffe09f3fd049fe8d0da2b35a2a0af6dcad08595fbd"
    }
  }