database/n8n/notion.json
{
  "nodes": [
    {
      "parameters": {
          "jsCode": "const items = $input.all();\n\n// Garante um unico registro por notion_id no lote.\nconst porNotionId = new Map();\nfor (const item of items) {\n  const row = item.json || {};\n  const notionId = row.notion_id || '';\n  if (!notionId) continue;\n  porNotionId.set(notionId, row);\n}\n\nconst batch = Array.from(porNotionId.values());\nif (batch.length === 0) {\n  return [];\n}\n\nreturn [{ json: { batch } }];"
      },
      "name": "Agrupar em batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "f49d703e-1e96-4b34-b5aa-7d7a81d600f2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xggqzueehfvautkmaojy.supabase.co/rest/v1/notion_tasks?on_conflict=notion_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZ3F6dWVlaGZ2YXV0a21hb2p5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE5ODI0NSwiZXhwIjoyMDg0Nzc0MjQ1fQ.VfB3yazurvRfPNyfRZK3vYijUu3pPUebixpwAsni-ho"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZ3F6dWVlaGZ2YXV0a21hb2p5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE5ODI0NSwiZXhwIjoyMDg0Nzc0MjQ1fQ.VfB3yazurvRfPNyfRZK3vYijUu3pPUebixpwAsni-ho"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
                "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      },
      "name": "Supabase Upsert (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        0
      ],
      "id": "33b00a96-dacb-4498-81ff-001026d6bc03",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        160
      ],
      "id": "50091ff0-1f4c-4ef2-8e00-c71bafd50505"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "208c3598-383a-8149-b401-dc7bd9224b5a",
          "mode": "id"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "name": "Notion - Get All Tasks1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -192,
        0
      ],
      "id": "da823920-265f-4b43-80ce-93d3bc1ae41e",
      "credentials": {
        "notionApi": {
          "id": "Ln8Z1P4xF2YhlSUt",
          "name": "Notion GOWORK"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst workflowData = $getWorkflowStaticData('global');\nconst lastSync = workflowData.notion_last_edited_time || null;\nconst lastSyncTs = lastSync ? new Date(lastSync).getTime() : null;\nlet maiorEditedTs = lastSyncTs || 0;\n\nfor (const item of items) {\n  const page = item.json;\n  const props = page.properties || {};\n\n  const editedAt = page.last_edited_time || null;\n  const editedTs = editedAt ? new Date(editedAt).getTime() : null;\n  if (editedTs && editedTs > maiorEditedTs) maiorEditedTs = editedTs;\n\n  if (lastSyncTs && editedTs && editedTs <= lastSyncTs) {\n    continue;\n  }\n\n  const titleProp = props['Nome da tarefa'];\n  const title = titleProp?.title?.[0]?.plain_text || '';\n\n  const status = props['Status']?.select?.name || '';\n  const priority = props['Prioridade']?.select?.name || '';\n\n  const descProp = props['Descrição'] || props['Descricao'];\n  const description = descProp?.rich_text?.[0]?.plain_text || '';\n\n  const executorProp = props['Executor'] || props['Executores'];\n  const executor = (executorProp?.people || []).map(p => p.name).filter(Boolean).join(', ');\n\n  const requesterProp = props['Solicitante'];\n  const requester = (requesterProp?.people || []).map(p => p.name).filter(Boolean).join(', ');\n\n  const deptProp = props['Departamento'];\n  let department = '';\n  if (deptProp?.select) {\n    department = deptProp.select.name || '';\n  } else if (deptProp?.multi_select) {\n    department = deptProp.multi_select.map(s => s.name).join(', ');\n  }\n\n  const createdByProp = props['Criado por'];\n  const created_by = createdByProp?.created_by?.name || '';\n\n  const dataProp = props['Data'];\n  const date_start = dataProp?.date?.start || null;\n  const date_end = dataProp?.date?.end || null;\n\n  const notionId = (page.id || '').replace(/-/g, '');\n  const notion_url = notionId ? `https://www.notion.so/${notionId}` : null;\n\n  results.push({\n    json: {\n      notion_id: page.id || '',\n      title,\n      status,\n      priority,\n      description,\n      executor,\n      requester,\n      department,\n      created_by,\n      date_start,\n      date_end,\n      notion_url,\n      created_at: page.created_time || null,\n      updated_at: editedAt,\n      _extracted_at: new Date().toISOString(),\n      _source_system: 'Notion'\n    }\n  });\n}\n\nif (maiorEditedTs > 0) {\n  workflowData.notion_last_edited_time = new Date(maiorEditedTs).toISOString();\n}\n\nreturn results;"
      },
      "name": "Transformar para Supabase1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "2213940a-73e8-4f36-b8da-df203bb266b7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar-bd-notion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -176
      ],
      "id": "98b7d120-25eb-4d97-ac93-b1cc021d4e91",
      "name": "Webhook",
      "webhookId": "f82f05c5-7edb-4c2a-aaea-59f215417cfd"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        0
      ],
      "id": "4ccf1f92-a7e2-49af-b70c-97955ce9a28d",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Agrupar em batch": {
      "main": [
        [
          {
            "node": "Supabase Upsert (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Notion - Get All Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Get All Tasks1": {
      "main": [
        [
          {
            "node": "Transformar para Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar para Supabase1": {
      "main": [
        [
          {
            "node": "Agrupar em batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Notion - Get All Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Notion - Get All Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17be6445c9e23b9dd57a36ffe09f3fd049fe8d0da2b35a2a0af6dcad08595fbd"
  }
}