database/n8n/workflow_atualizar_comissoes.json
{
  "name": "Atualizar Comissões - ETL HubSpot → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar_comissoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-comissoes",
      "name": "Webhook",
      "webhookId": "atualizar_comissoes"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "notebook_path",
              "value": "etl_hubspot_supabase.ipynb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "definir-notebook",
      "name": "Definir Notebook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=sudo -u jupyter-luiscuba bash -c 'cd /home/jupyter-luiscuba/Central && /opt/tljh/user/bin/jupyter nbconvert --execute --to notebook --inplace {{ $json.notebook_path }} 2>&1'",
        "cwd": "/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "executar-notebook",
      "name": "Executar Notebook",
      "alwaysOutputData": true,
      "credentials": {
        "sshPassword": {
          "id": "lGn6P6YfhyNiVzDr",
          "name": "SSH JUPYTER"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.code }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "verificar-sucesso",
      "name": "Verificar Sucesso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'ETL executado com sucesso! Dados sincronizados.' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        -100
      ],
      "id": "resposta-sucesso",
      "name": "Resposta Sucesso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Erro ao executar ETL. Verifique os logs no N8N.' }) }}",
        "options": {
          "responseCode": "500",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        100
      ],
      "id": "resposta-erro",
      "name": "Resposta Erro"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Definir Notebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Notebook": {
      "main": [
        [
          {
            "node": "Executar Notebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Notebook": {
      "main": [
        [
          {
            "node": "Verificar Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sucesso": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
