database/n8n/workflow_atualizar_comissoes.json
{
  "name": "Atualizar Comissões - ETL HubSpot → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar_comissoes",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-comissoes",
      "name": "Webhook",
      "webhookId": "atualizar_comissoes"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "notebook_path",
              "value": "etl_hubspot_supabase.ipynb"
            },
            {
              "name": "inicio",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "definir-notebook",
      "name": "Definir Notebook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=sudo -u jupyter-luiscuba bash -c 'cd /home/jupyter-luiscuba/Central && /opt/tljh/user/bin/jupyter nbconvert --execute --to notebook --inplace {{ $json.notebook_path }} 2>&1'",
        "cwd": "/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "executar-notebook",
      "name": "Executar Notebook",
      "alwaysOutputData": true,
      "credentials": {
        "sshPassword": {
          "id": "lGn6P6YfhyNiVzDr",
          "name": "SSH JUPYTER"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Definir Notebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Notebook": {
      "main": [
        [
          {
            "node": "Executar Notebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Notebook": {
      "main": [
        [],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
