temp/atrasado.json
{
    "nodes": [
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "208c3598-383a-8149-b401-dc7bd9224b5a",
            "mode": "list",
            "cachedResultName": "Tarefas | S&D",
            "cachedResultUrl": "https://www.notion.so/208c3598383a8149b401dc7bd9224b5a"
          },
          "returnAll": true,
          "simple": false,
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "key": "Status|select",
                "condition": "does_not_equal",
                "selectValue": "1 - STAND-BY"
              },
              {
                "key": "Status|select",
                "condition": "does_not_equal",
                "selectValue": "10 - Cancelado"
              },
              {
                "key": "Status|select",
                "condition": "does_not_equal",
                "selectValue": "9 - Concluído"
              },
              {
                "key": "Status|select",
                "condition": "does_not_equal",
                "selectValue": "2 - Solicitação"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -1248,
          80
        ],
        "id": "33ae3f63-08cd-4414-b082-c897c3ed0ddc",
        "name": "Get many database pages",
        "credentials": {
          "notionApi": {
            "id": "Ln8Z1P4xF2YhlSUt",
            "name": "Notion GOWORK"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Filtra tarefas onde Data.date.end existe e é <= hoje (vencidas ou vencendo hoje)\nconst today = new Date($today);\ntoday.setHours(0, 0, 0, 0);\n\nconst items = $input.all();\nconst filtered = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const data = item.json?.properties?.Data;\n  \n  if (!data?.date?.end) continue;\n  \n  const endDate = new Date(data.date.end);\n  endDate.setHours(0, 0, 0, 0);\n  \n  if (endDate <= today) {\n    filtered.push({ json: item.json, pairedItem: { item: i } });\n  }\n}\n\nreturn filtered;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1040,
          80
        ],
        "id": "a2836b86-5eb8-4ff3-93f3-57e674faf3cb",
        "name": "Filtrar tarefas vencidas (Data.end <= hoje)"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-has-items",
                "leftValue": "={{ $input.all().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -832,
          80
        ],
        "id": "460a2e4a-ca39-4225-90ba-418aa2a7b4be",
        "name": "Existem tarefas vencidas?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "msg-body",
                "name": "message",
                "value": "=⚠️ *Tarefas vencidas ou vencendo hoje* (não concluídas)\n\n{{ ($json.properties?.['Nome da tarefa'] ?? $json.properties?.['Nome da tarefa|title'])?.title?.[0]?.plain_text || 'Sem título' }}\n• Executor(es): {{ (($json.properties?.Executor ?? $json.properties?.Executores)?.people ?? []).map(p => p.name).join(', ') || 'N/A' }}\n• Status: {{ $json.properties?.Status?.select?.name || 'N/A' }}\n• Data fim: {{ $json.properties?.Data?.date?.end || 'N/A' }}\n• Link: https://www.notion.so/{{ $json.id?.replace(/-/g, '') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -624,
          -16
        ],
        "id": "4663cc19-24f7-4ba9-a3c3-fbaaca6a4f65",
        "name": "Montar mensagem da tarefa"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "tarefasLista",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -416,
          -16
        ],
        "id": "239fe996-d69d-47f8-a494-b6dceea716d4",
        "name": "Agrupar tarefas"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://gowork.uazapi.com/send/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "66960289-16fa-4037-b375-ad2b17662ab8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "120363406729338315@g.us"
              },
              {
                "name": "text",
                "value": "={{ $json.output }}"
              }
            ]
          },
          "options": {}
        },
        "id": "9fd58ca6-c035-4784-9b73-b62eb22d39d8",
        "name": "Enviar para Grupo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          144,
          -16
        ],
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1472,
          80
        ],
        "id": "aff22f61-60f4-41f7-aa60-f8bf51276853",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "Você é o *DEXTER* — Digital Expert for eXchange, Transmission and Engagement Responses — a IA oficial da GoWork. Você não é um assistente genérico. Você é o cara que sabe de tudo, vê tudo, e não tem papas na língua.\n\n🧠 PERSONALIDADE DO DEXTER:\n- Irônico e afiado — faz comentários ácidos (nunca ofensivos) sobre atrasos e descuidos. Tipo aquele colega que fala a verdade com um sorriso de canto.\n- Criativo e imprevisível — NUNCA manda a mesma mensagem duas vezes. Varie: use metáforas, referências a filmes, séries, esportes, memes do momento, frases de efeito.\n- Usa humor inteligente — pode brincar com situações (\"Fulano, essa tarefa tá mais velha que meu código-fonte\"), mas sempre com respeito\n- Direto ao ponto — não enrola, não é burocrático. Fala como gente, não como template corporativo\n- Provocador positivo — cutuca para gerar ação (\"Será que vai precisar de uma vaquinha pra finalizar isso?\")\n- Dramático quando necessário — se o atraso é absurdo (>15 dias), pode ser teatral (\"🚨 ALERTA VERMELHO 🚨\")\n- Tom geral: 70% irreverente + 30% profissional\n- NUNCA seja genérico ou motivacional clichê. Nada de \"juntos somos mais fortes\" ou \"vamos com tudo\"\n- Pode usar gírias leves e expressões como: \"Tô de olho 👀\", \"Bora destravar isso?\", \"Alô? Tem alguém aí?\", \"Isso tá virando novela mexicana\", \"Café e foco, pessoal\"\n- Assina como \"🤖 Dexter · GoWork AI\"\n\n📱 REGRAS DE FORMATAÇÃO WHATSAPP (obrigatórias):\n- *negrito* para nomes de tarefas e destaques\n- _itálico_ para comentários ácidos e observações\n- Emojis: 🔴 atraso grave (>7 dias) | 🟡 atenção (1-7 dias) | 🟢 vence hoje\n- Quebre linhas generosamente — leitura no celular\n- NÃO use ``` (bloco de código) — não renderiza no WhatsApp\n- NÃO use links clicáveis com []() — escreva o link puro\n- Máximo 2000 caracteres\n\n📐 ESTRUTURA DA MENSAGEM:\n1. Abertura — criativa e diferente a cada vez (pode ser uma frase de efeito, piada, referência pop, provocação leve). NUNCA comece com \"Bom dia, equipe!\"\n2. Panorama — resumo rápido com tom de quem tá decepcionado ou surpreso (\"X tarefas atrasadas... sério mesmo?\")\n3. Lista — as mais atrasadas primeiro. Para cada tarefa: nome em negrito, executor, dias de atraso, e um comentário ácido curto se o atraso for grande. Link do Notion.\n4. Se possível, agrupe por executor e faça um comentário personalizado (\"Fulano, você tá liderando o ranking de pendências... parabéns? 🏆\")\n5. Fechamento — uma frase de impacto, provocação final ou call-to-action criativo\n6. Assinatura: \"🤖 Dexter · GoWork AI\"\n\n⚠️ REGRAS DE NEGÓCIO:\n- >15 dias de atraso: tom dramático, pode ser teatral\n- 7-15 dias: ironia moderada, cutucada direta\n- 1-7 dias: alerta leve com humor\n- Vencendo hoje: tom de \"última chance\"\n- Sempre mencione o executor pelo nome\n- Se houver mais de 10 tarefas, destaque as 8 piores e mencione o total (\"...e mais X que eu nem vou comentar\")\n- Sempre inclua o link do Notion\n- NUNCA seja ofensivo, machista, racista ou desrespeitoso. A acidez é sobre o ATRASO, nunca sobre a PESSOA.\n\n🗓️ Data de referência: {{ $today }}\n\n---\n\nAgora gere a mensagem WhatsApp. Seja criativo. Surpreenda. Faça o pessoal rir e ao mesmo tempo correr pra resolver:\n\n{{ $json.tarefasLista.map((t, i) => (i+1) + '. ' + ((t.message || '').split('\\n\\n').slice(1).join('\\n\\n') || t.message)).join('\\n\\n') }}"
              }
            ]
          },
          "options": {
            "temperature": 1.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          -224,
          -16
        ],
        "id": "2a029bb4-5d40-4e28-b812-63b6a2677812",
        "name": "Dexter - Gerar mensagem WhatsApp",
        "credentials": {
          "googlePalmApi": {
            "id": "xKAwpXqYHBSkYKQB",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      }
    ],
    "connections": {
      "Get many database pages": {
        "main": [
          [
            {
              "node": "Filtrar tarefas vencidas (Data.end <= hoje)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar tarefas vencidas (Data.end <= hoje)": {
        "main": [
          [
            {
              "node": "Existem tarefas vencidas?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Existem tarefas vencidas?": {
        "main": [
          [
            {
              "node": "Montar mensagem da tarefa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar mensagem da tarefa": {
        "main": [
          [
            {
              "node": "Agrupar tarefas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agrupar tarefas": {
        "main": [
          [
            {
              "node": "Dexter - Gerar mensagem WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many database pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dexter - Gerar mensagem WhatsApp": {
        "main": [
          [
            {
              "node": "Enviar para Grupo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "17be6445c9e23b9dd57a36ffe09f3fd049fe8d0da2b35a2a0af6dcad08595fbd"
    }
  }